.flex, .header, h2, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  margin: 0px;
  background: #C2d9ff;
  font-family: 'Muli', sans-serif;
}

.header {
  background-color: #51cdd8c4;
  color: white;
  width: 100%;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
}

.header__img {
  width: 300px;
  margin-left: 30px;
}

.login {
  background: #aae7ee;
  background: -webkit-gradient(linear, left top, left bottom, from(#aae7ee), color-stop(49%, #786cb2), to(#235789));
  background: linear-gradient(180deg, #aae7ee 0%, #786cb2 49%, #235789 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 30px;
  min-height: calc(100vh - 200px);
}

.login__container {
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  padding: 50px 68px 40px;
  min-height: 500px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__container--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__container--form label {
  font-size: 14px;
}

.login__container--remember-me {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.login__container--remember-me a:hover {
  text-decoration: underline;
}

.login__container--social-media > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.image__element {
  height: 600px;
  padding: 0px;
  border-radius: 10%;
}

.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}

.login__container--register {
  font-size: 14px;
}

.login__container--register a {
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
  outline: none;
  padding: 10px;
}

::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: bolder;
  height: 60px;
  letter-spacing: 1px;
  margin: 5px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.button:hover {
  background-color: lightskyblue;
}

.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
  background-color: #235789;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    width: 100%;
  }
  .image__element {
    display: none;
  }
  .footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer a {
    padding: 15px;
  }
  .header {
    height: 80px;
  }
  .header__img {
    height: 70px;
    width: 190px;
  }
}
/*# sourceMappingURL=InicioStyles.css.map */